<!-- This is the HTML template for the welcome component -->

<div class="panel panel-primary">
    <div class="panel-heading">
        Welcome to Vizuri-Fhir Demo App
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="/app/home/vizuri-logo.png" class="img-responsive center-block" style="max-height:1000px;padding-bottom:50px" />
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Vizuri</h3>
            <h3 class="text-center">Ryan Eudy, Eric Murphy</h3>
        </div>
    </div>
</div>