<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div *ngIf="gotPatientData">
            <nav class='navbar navbar-default'>
                <div class='container-fluid'>
                    <a class='navbar-brand' [routerLink]="['/patient', patient.id]">{{patient.name[0].text}}</a>
                    <ul class='nav navbar-nav'>
                        <li><a [routerLink]="['/records', id]">Records</a></li>
                        <li><a><b>Questionniare Responses</b></a></li>
                        <li><a [routerLink]="['/riskassessment', id]">Risk Assessments</a></li>
                        <li><a [routerLink]="['/viewAvailableAppointments', patient.id]">Appointments</a></li>
                    </ul>
                </div>
            </nav>
            <div class='container'>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Questionnaires</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let questionnaire of questionnaires'>
                        <td>
                            {{ questionnaire.title }}
                        </td>
                        <td><button class="btn btn-primary btn-xs" type="button" [routerLink]="['/questionnaireResponse', questionnaire.id, id]">
                            Fill Out</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Questionnaire Responses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let responses of questionnaireResponses'>
                        <td><a [routerLink]="['/questionnaireResponseDetail', responses.id, id]">
                            {{responses.id}}</a>
                        </td>
                        <td><button class="btn btn-success btn-xs" type="button" [routerLink]="['/editQuestionnaireResponse', responses.id, id]">
                            Edit</button>
                        </td>
                        <td><button class="btn btn-danger btn-xs" type="button" (click)="delete(responses.id);">
                            Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='panel-footer'>
                <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                    <i class='glyphicon glyphicon-chevron-left'></i> Back
                </a>
            </div>
        </div>

    </div>
</div>