<div class='panel panel-primary' *ngIf='patient'>
    <div class='panel-heading'>
        <div>
            <nav class='navbar navbar-default'>
                <div class='container-fluid'>
                    <a class='navbar-brand' [routerLink]="['/patient', patient.id]">{{patient.name[0].text}}</a>
                    <ul class='nav navbar-nav'>
                        <li><a [routerLink]="['/records', patient.id]">Records</a></li>
                        <li><a [routerLink]="['/questionnaires', patient.id]">Questionniare Responses</a></li>
                        <li><a><b>Risk Assessments</b></a></li>
                        <li><a [routerLink]="['/viewAvailableAppointments', patient.id]">Appointments</a></li>
                    </ul>
                </div>
            </nav>
            <div class='container'>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-10'>
                <h3>
                    Risk Assessments for: {{patient.name[0].text}} ({{patient.id}})
                </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Risk Assessments to Run:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Coronary Heart Disease Risk</td>
                        <td *ngIf='!runningRiskAssessment'><button type='button' class='btn-sm btn-info' (click)='runRisk("framingham", patient.id)'>Run Risk Assessment</button></td>
                        <td *ngIf='runningRiskAssessment'><button type='button' class='btn-sm btn-disabled'>Run Risk Assessment</button></td>
                    </tr>
                    <tr>
                        <td>Heart Attack Risk</td>
                        <td *ngIf='!runningRiskAssessment'><button type='button' class='btn-sm btn-info' (click)='runRisk("heartDisease", patient.id)'>Run Risk Assessment</button></td>
                        <td *ngIf='runningRiskAssessment'><button type='button' class='btn-sm btn-disabled'>Run Risk Assessment</button></td>
                    </tr>
                    <tr>
                        <td>Diabetes Risk</td>
                        <td *ngIf='!runningRiskAssessment'><button type='button' class='btn-sm btn-info' (click)='runRisk("diabetes", patient.id)'>Run Risk Assessment</button></td>
                        <td *ngIf='runningRiskAssessment'><button type='button' class='btn-sm btn-disabled'>Run Risk Assessment</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Risk Assessments Ran:</th>
                        <th>Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let riskAssessment of riskAssessments'>
                        <td>{{riskAssessment.prediction[0].outcome.text}}</td>
                        <td *ngIf='riskAssessment.prediction[0].outcome.text == "Coronary Heart Disease"'>% Decimal of getting CHD: <b>{{riskAssessment.prediction[0].probabilityDecimal | json}}</b></td>
                        <td *ngIf='riskAssessment.prediction[0].outcome.text == "Heart Attack"'>{{riskAssessment.prediction[0].rationale}}</td>
                        <td *ngIf='riskAssessment.prediction[0].outcome.text == "Diabetes"'>{{riskAssessment.prediction[0].rationale}}</td>
                        <td><a [routerLink]="['/riskassessment', patient.id, riskAssessment.id]">
                            Details</a></td>
                    </tr>
                </tbody>
            </table>
            <div class='panel-footer'>
                <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                    <i class='glyphicon glyphicon-chevron-left'></i> Back
                </a>
            </div>
        </div>

    </div>
</div>